*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 209, 209);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*home*/

.logo-navbar{
    height: 50px;
}



.img-home{
    display: block;
    margin:auto;
    width: 30%;
}



.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    gap: 20px;
    padding: 20px;
    grid-template-rows:auto; /*se refiere a las filas*/
    margin: 20px;
}



p{
    display: flex;
    flex-wrap: wrap;
}

/*servicios*/
.texto{
    display: flex;
    align-items: center;
    gap: 20px;
}


.texto img{
    width: 25%;
    height: auto;
}

h1{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

h2{
padding: 10px;
margin: 10px;
font-family: 'Times New Roman', Times, serif;
color: black;
font-size: 20px;
text-align: center;
}

.carousel{
    max-width: 500px;
    margin: auto;
}

h3{
padding: 10px;
margin: 10px;
font-family: 'Times New Roman', Times, serif;
color: black;
font-size: 20px;
text-align: center;
}

/*contacto*/
input, textarea{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;

}


.footer{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(250, 251, 253);
    padding: 10px;
    position: static;
    margin-top: 20px;
}
